body {
    margin: 0;
    overscroll-behavior: none;
}

#three-js{
    position: absolute;
}

.lil-gui {
    z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
    .lil-gui.root {
        right: auto;
        top: auto;
        max-height: 50%;
        max-width: 80%;
        bottom: 0;
        left: 0;
    }
}