
.pos1 {
    top: 250px;
    left:250px !important;
}
.pos2{
    top: 400px;
    left: -250px !important;
}
.pos3 {
    top: 30px;
    left: 200px !important;
}
.pos4 {
    top: 500px;
    left: 140px !important;
}
.pos5{
    top: -40px;
    left:120px !important;
}
.pos6 {
    top: 200px;
    left: 250px !important;
}

.pos7 {
    top: -350px;
    left: 250px !important;
}
.pos8{
    top: -20px;
    left: 190px !important;
}
.pos9 {
    top: 0px;
    left: 650px !important;
}
.pos10 {
    top: -70px;
    left: 100px!important;
}
.pos11{
    top: -450px;
    left: 460px!important;
}
.pos12 {
    top: -200px;
    left: 180px!important;
}
.pos13 {
    top: -100px;
    left: 180px !important;
}
.pos14{
    top: -380px;
    left: 100px !important;
}
.pos15 {
    top: -140px;
    left: 130px !important;
}
.pos16 {
    top: -840px;
    left: 30px!important;
}
.pos17{
    top: -1000px;
    left: 28px!important;
}

