.person {
    height: 500px;
    width: 500px;
    background-color: #D8E5F5;
    border-radius: 50%;
    display: inline-grid;
}

h1{
    font-size: 0.8em;
    color: #000000;
}
h2{
    font-size: 0.5em;
    color: #80A9AE;
}
#personName{
    margin-top: 15%;
    padding: 3%;
}