/* This is our global CSS file */

/* ------ App.js ------ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.background {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.puddle-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.Header {
    text-align: center;
    position: fixed;
}

.App-link {
    color: #61dafb;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}

/* 
------------------------------------------------------------------------------------------------------------
----------------------------------------------- PAGES ------------------------------------------------------
------------------------------------------------------------------------------------------------------------
*/


/* ------ 0-Idle (Lisa) ------ */



/* ------ 1-Overview (Lisa + Lin) ------ */
.component-display {
width: 100%;
height: 100%;
  position: absolute;
}
.frame{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

h1{
  font-size: 0.8em;
  color: #000000;
}
h2{
  font-size: 0.5em;
  color: #80A9AE;
}
h4{
  color: #21496D;
  font-size: 0.5em;
  margin: 0%;
}


#idletext{
  padding-top: 40%;
}
#majorButton{
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  transform: translate(130%, -80%);
}
.icon{
  height: 30%;
  padding-top:40%;
}

.pos0 {
  top: 5%;
  left: 10%;

}

.pos1 {
  top: 10%;
  left: 60%;
}






/* ------ 1.2-Search (Nicolas) ------ */



/* ------ 2-Select ------ */



/* ------ 3-Project Page (Carina) ------ */



/* 
------------------------------------------------------------------------------------------------------------
------------------------------------------ COMPONENTS ------------------------------------------------------
------------------------------------------------------------------------------------------------------------
*/


/* ------ Person ------ */
.big{
  width: 20vw;
  height: 20vw;
}

.person {
  background: radial-gradient(circle at 50%,#FFFFFF, #D8E5F5);
  /* border-radius: 50%; */
  /* border: solid 0.3em #FFFFFF; */
  /* margin: 2%; */
  background-color: white;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

}

#personName{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-top: 1rem;
}

.bubbleName {
  margin: 0;
}
.bubbleMajor {
  margin: 0;
}

.flex-container {
  display: flex;
  /* flex-direction: column; */
  /* align-content: center; */
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}
html {
  --color-text: black;
  --color-background: lightgray;
  --color-primary: rebeccapurple;
  --format: 30%;
}
.flex-item {
  height: calc((var(--format))/1.7777);
  /* padding: 0.1rem; */
  /* height: auto; */
  overflow: hidden;
  width: 30%;
}
.portraitTestImage {
  height: calc(30%/1.7777) !important; 
  width: calc((30%/1.7777)/1.7777) !important;
}
/* .ratioWrapper {
  width: 100%;
  height: calc(100%/1.77777); 
  overflow: hidden;
} */
.teaserImage {
  /* height: 100%; */
  /* width: auto; */
}

.maskBubble {
  clip-path: url(#clip);
  object-fit: cover;
}

.maskingShape {
  transform: scale(0.4);
}
#clip {
  
}
.maskSVG{
  position: absolute;
  top: 0;
 
}

#morphShape{
  visibility: hidden;
  position: absolute;
  top: 0;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: 0; /* gutter size offset */
  width: 100%;
  height: 80%;
}
.my-masonry-grid_column {
  padding-left: .5rem; 
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: .5rem;
}



