/* This is our global CSS file */

/* ------ App.js ------ */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
  overflow: hidden;
  height: 100vh;
}
.background {
    height: 100vh;
    width: 100vw;
    position: absolute;
}
#majorButton{
  justify-self: center;
  position: absolute;
  left: 45%;
}
.icon{
  height: 100%;
}
.icon-big{
  height: 150px;
}
.icon-close{
  bottom: 0;
  height: 17%;
}
.icon-major{
  top: 0;
}
.puddle-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.Header {
    text-align: center;
    position: fixed;
}

.App-link {
    color: #E17A43;
  text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.none {
  display: none;
}

/* 
------------------------------------------------------------------------------------------------------------
----------------------------------------------- PAGES ------------------------------------------------------
------------------------------------------------------------------------------------------------------------
*/


/* ------ 0-Idle (Lisa) ------ */



/* ------ 1-Overview (Lisa + Lin) ------ */
.component-display {
width: 100%;
height: 100%;
  position: absolute;
}
.frame{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

h1{
  font-size: 0.8em;
  color: #000000;
}
h2{
  font-size: 0.5em;
  color: #80A9AE;
}
h4{
  color: #21496D;
  font-size: 0.5em;
  margin: 0;
}


#idletext{
  padding-top: 40%;
}







/* ------ 1.2-Search (Nicolas) ------ */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ------ 2-Select ------ */



/* ------ 3-Project Page (Carina) ------ */



/* 
------------------------------------------------------------------------------------------------------------
------------------------------------------ COMPONENTS ------------------------------------------------------
------------------------------------------------------------------------------------------------------------
*/


/* ------ Person ------ */
.big{
  width: 15vw;
  height: 16vw;
      position: relative;
      float: left;
}

.person {
  background: radial-gradient(circle at 50%,#FFFFFF, #D8E5F5);
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
}

#personName{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:  100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform: translateX(-11%);

}

.bubbleName {
  margin: 0;
}
.bubbleMajor {
  margin: 0;
}
.teaserGallery {
  height: 50%;
  width: 120%;
}

.flex-container {
  /* display: flex;
  width: 140%;
  height: 50%;
  flex-wrap: nowrap;
  align-content: center; */
  display: flex;
  width: 100%;
  height: 50%;
  flex-wrap: nowrap;
  align-content: center;
  /* overflow: hidden; */
  justify-content: center;
  margin-bottom: 0.2rem;
}

/*html {*/
/*  --format: 100%;*/
/*}*/

.flex-item {
  /* height: calc((var(--format))/1.7777);
  overflow: hidden;
  width: (var(--format));
  margin: 0.1rem; */
  overflow: hidden;
  /*width: (var(--format));*/
  margin: 0.1rem;
  height: 100%;

}

.teaserImage {
  height: 100%;
  object-fit: contain;
}

.maskBubble {
  clip-path: url(#clip);
  object-fit: cover;
}

.maskingShape {
  transform: scale(0.3);
}

.maskSVG{
  position: absolute;
  top: 0;
}

#morphShape{
  visibility: hidden;
  position: absolute;
  top: 0;
}
.background-specs{
  width: 100vw;
  height: 100vh;
}

a:-webkit-any-link {
  text-decoration: none !important;
}



.react-player__preview {
  background-color: black;
  cursor:none;
}
.react-player__shadow {
  background: none;

}
.react-player__play-icon{
  
}


